{% extends "extenders.html" %}
{% load static %}
{% block content %}
   <div class="purchase-container">
    <div class="purchase-form">
      <div class="form-head">
        <p class="avail-cap">Data For All Network</p>
        <h2 class="buy-cap">Buy Data</h2>
        <div class="alternative-choose">
          <div><img src={% static 'airtel.png' %} alt="Airtel" /></div>
          <div><img src={% static 'mtn.png' %} alt="MTN" /></div>
          <div><img src={% static 'glo.png' %} alt="Glo" /></div>
          <div><img src={% static '9mobile.png' %} alt="Glo" /></div>
        </div>
      </div>
      <hr /> <br/><br/>
     <form method="POST">
       <label for="network" class="labels">Network</label>
       <select class="selecting" id="network" name="network">
         <option value="" disabled selected="">Select NetWork</option>
         <option value="Airtel">Airtel</option>
         <option value="MTN">MTN</option>
         <option value="GLO">GLO</option>
       </select>
       <br />
       <label for="network" class="labels">Data Type</label>
       <select class="sme-cop" id="network" name="network">
         <option value="" disabled selected="">Select Data Type</option>
         <option value="SME">SME</option>
         <option value="Corporation">Corporation</option>
       </select>
       <br/>
       <label for="network" class="labels">Data Plan</label>
       <select class="data-amounts" id="network" name="network">
       </select>
       <br />
       <label for="network" class="labels">Phone Number</label>
       <input placeholder="phone number" type="tel" name="phone" class="fixed-price" /><br/>
       <label for="network" class="labels">Amount</label>
       <input placeholder="Amount to pay" class="fixed-price" id="fixed-price" type="text" value="" name="amount" readonly/>
     </form>
    </div>
   </div><br/><br /><br /><br /> <br />
{% endblock %}

{% block toggle %}
   <script src={% static "Js/toggles.js" %}></script>
   <script src={% static "Js/purchase.js" %}></script>
{% endblock %}