<!-- import Hr from '../../static/admin/js/vendor/select2/i18n/hr'; -->
{% extends "extenders.html" %}
 {% load static %}
 {% block toggle %}
    {% if nightmode %}
    <link href={% static "css/nightmode/transaction.css" %} rel="stylesheet">
    {% else %}
      <link href={% static "css/transaction.css" %} rel="stylesheet">
    {% endif %}
 {% endblock %}

{% block content %}
  <div class="parent-container">
    <div class="custom-search">
      <h4>Transactions</h4>
      <p class="to-grey">Your last 100 transactions.</p>
      <p class="to-red">Click on the transaction to view the details.</p>
      <form method="post">
        {% csrf_token %}
        <input type="text" name="search" placeholder="Search" class="search"/> <br /> <br />
        <input class="submit" type="submit" value="Search" />
      </form>
    </div>
    <div class="search-result">
      {% for data in dev %}
         <a href="/myreciept/{{data.id}}" class="detail jst-content">
        <div class="for-wifi"><i class="fa fa-wifi"></i></div>
        <div class="data-wifi">
          <h4>Data</h4>
          <p class="data-desc">Purchase of {{data.data_amount}} 30 days Plan for phone number {{data.phone}}</p>
          <small>Ref: {{data.transaction_id}}</small>
        </div>
        <div class="data-amt">
          <br />
          <h4>{{data.charge}}</h4>
          <small> {{ data.date }} </small><br />
          <i id="status" class="fa fa-check"></i>
        </div>
      </a>
      {% endfor %}
    </div>
  </div>
  <br /><br /><br />
{% endblock %}